header {
  margin: 0;
  padding: 0 1em;
  background: white;
  box-shadow: 0 2px 8px rgba(black, 5%);
}

h2 {
  margin: 0;
  font-size: 1em;
}

h2 a,
h2 a.active {
  text-decoration: none;
}
nav {
  display: flex;
}

nav a {
  color: black;
  border-bottom: 4px solid transparent;
  text-decoration: none;
}
nav a.active {
  text-decoration: none;
  border-bottom-color: blue;
}

span.vertical-line {
  border-left: 3px solid grey;
  margin: 0 0.5rem 0 0.5rem;
}

.title {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-title {
  display: inline-block;
}

.main-title::after {
  display: block;
  content: "";
  border-bottom: solid 3px red;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 100%;
}

.main-title:hover::after {
  transform: scaleX(1);
  transform-origin: 100% 0%;
}

.site-title {
  display: inline-block;
}

.site-title::after {
  display: block;
  content: "";
  border-bottom: solid 3px blue;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}

.site-title:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 100%;
}

.internal-links {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.internal-links a {
  padding: 1rem 0.5rem;
}

.social-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.social-links a {
  padding: 1rem 0.5rem;
}
@media (max-width: 720px) {
  .social-links {
    display: none;
  }
}
